.navbar__wrapper {
    width: 100%;
    padding: 20px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__item {
    list-style: none;
}

.navbar__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}

.navbar__item a {
    text-decoration: none;
    color: var(--primary-black);
    cursor: pointer;
}

.navbar__item a:hover{
    color: blueviolet;
}

.btns {
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn {
    width: 120px;
    height: 40px;
    background: var(--primary-blue);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.btn:active {
    transform: scale(.98);
    border: none;
    outline: none;
}

.login {
    background-color: var(--primary-white);
    color: var(--primary-black);
}

.login:hover{
    color: blueviolet;
}

.login:active{
    background-color: var(--primary-black);
    color: var(--primary-white);
}